body
  {
    background-color: #e3fdfd;
  }
  hr
  {
    border-style: dotted none none none;
    width: 100%;
    border-color: lightgreen;
    border-width: 7px;


  }
  .heading3
  {
    text-decoration: underline;
    text-decoration-color: #FF4646;
  }
  h2
  {
    color: #055052;
    text-decoration: underline;
    text-decoration-color: #FF4646;
  }
  h1
  {
    color: #66bfbf;
  }
  h3
  {
    color: #66bfbf;
  }
  img
  {
    background-color: red;
  }
  .firstheading
  {
    font-style: normal;
    font-size: 300%;
    text-decoration: underline;
    color: orange;
    text-align: center;

  }
  .mypic
  {
    border-color: black;
    background-color: blue;

  }
  .newhr
  {
    border-style: solid;
    height: 1px;
    border-color: lightblue;
  }
  .newol
  {
    list-style-position: outside;
  }

  table,td,th
  {
    height: 12px;
    background-color: lightblue;
    color: black;
    align-items: center;
    border-style: solid solid solid solid;
    border-width: 3px;
    border-collapse: collapse;
    text-align: center;
    vertical-align: central;
  }

  .newul
  {
    background-color: #e3fdfd;
  }
