body
{
  background-color: #EDF6E5;
  margin: 0 0 0 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
hr
{
  margin: 0;
  border: 3px solid #628395;
  border-top-style: ridge;
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;

}
h2
{
  margin: 0;
  font-size: 175%;
  padding-bottom: 5px;
  text-decoration: underline;
  color: #3D087B;
}
.nav{
  background-color: black;
  width: 100%;
  height: 6.3rem;
  margin: 0 0 0 0;
  text-align: left;
}
.op
{
  background-color: #628395;
  display: inline-block;
  width: 32.5%;
  padding-top: 1rem;
  margin: 0;
  height: 75px;
  border: 4px inset aqua;
  vertical-align: top;
  text-align: center;
  padding-top: 15px;
}
.navfont
{
  font-family: arial, sans-serif ;
  padding-top: 10px;
  font-size: 20px;
  color: white;
}
.middlecontainer
{
  background-color: #B5EAEA;

}
.bottomcontainer
{
  background-color: #B5EAEA;


}
.head2
{
  margin: 0 auto 0 auto;
  text-align: left;
}
.topcontainer
{
  background-color: #B5EAEA;

}
.images
{
  background-color: inherit;
  width: 25%;
  position: relative;
  left: auto;
  right: auto;
  float: left;
}

.cursivefont
{
  font-family: "Sacramento",cursive;
  font-size: 562.5%;
  margin: 0;
  color: #66BFBF;
}
.undertext
{
  margin: 0;
  font-size: 175%;
  padding-bottom: 5px;
  text-decoration: none;
}
.para
{
  font-size: 1.6rem;
  color: #297F87;
  display: inline-block;
  text-align: left;
}
.smallpara
{
  font-size: 1.6rem;
  color: #297F87;
  margin: 50px 100px 50px 100px;
  text-align: left;
}
p
{
  font-size: 1.6rem;
  color: #297F87;
  text-align: center;
}
.skill-row
{
  display: inline-block;
  width: 50%;
  background-color: #B5EAEA;
  margin: 30px auto 30px auto;
  text-align: left;
  line-height: 2;
}
.Skills
{
  display: inline-block;
  width: 50%;
}
